p {
    color:red
}
.first{
    background-color: blue;
}

.special{
    background-color: aquamarine;
}

h3 {
    background-color: blueviolet;
}

#hpp{
    background-color: aqua;
}

/*coment*/